<div class="container">
   <div class="row">
      <div class="mx-auto col-11 col-md-10">
        <div class="text-center border border-dark mt-5 mb-5" style="padding:15px;">
        ようこそ、ながのCAKEへ！</br>
        このサイトは、ケーキ販売のECサイトになります。</br>
        会員でない方も商品の閲覧はできますが、</br>
        購入には会員登録が必要になります。</div>
        
    
        <h4>新着商品</h4>
      </div>
    </div>
</div>
     