<div class= "container">
  <div class="row">
    <h2>ジャンル編集</h2>
  </div>
  
  <%= form_with model: @genre, url: admin_genre_path do |f| %>
  <div class="row mt-5">
    <div class="col-5">
      <table>
        <tr><th>ジャンル名</th><td><%= f.text_field :name %></td></tr>
      </table>
    </div>
    <div class="col-2">
      <%= f.submit '変更を保存', class:"btn btn-sm btn-success" %>
    </div>
  </div>
  <% end %>
</div>
